@tailwind base;
@tailwind components;
@tailwind utilities;

/* the old css file which we were using in the beginning */
/* this css is no longer working */
body {
    color: #222;
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

p {
    line-height: 1.3;
}

article {
    padding: 10px;
    transition: 0.15s;
}

article:hover {
    background-color: aliceblue;
}

/* select every article after every article */
article + article {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid #c5c5c5;
    margin-bottom: 2rem
}

